.background-container {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    

}

.container_dark {
    display: flex;
    align-items: center;
    position: relative;
    min-height: 100vh;
    background-color: #050404b3;
}

.Row {
    height: 100%;
    display: flex;
    align-items: center
}

.movie-image {
    display: flex;
    height: calc(70vh);
    padding: 1rem;
    margin: 100px;
   
}

.custom-list-group .list-group-item {
   font-size: 1.75vw;
    text-align: left;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center
}

.list-group{
    color: white;
    text-align: left;
    font-size: smaller;
}
.li-list{
    list-style-type: disc; 
    color: burlywood;
}
.button-detail {
    background-color: #403640;
    color: burlywood;
    border: #403640;
    font-size: 1.5em !important;
}

.button-detail:hover {
    background-color: burlywood;
    color: #403640;
}

.title-sinopsis {
    color: white;
    margin-top: 60px;
    text-align: left;
    font-weight: 700;
}

.data-movie {
    color: white;
    margin-bottom: 15px;
    font-size: small;
    text-align: left;
    width: 900px;
}

.title-movie {
    color: white;
    text-align: left;

    font-size: extra;
}

.title-year {
    color: grey;
    text-align: left;
    font-size: medium;
}

.data-gender {
    color: white;
    text-align: left;
    margin-top: 30px;
    font-weight: 700;
}

.button-spinner{
margin-top: 30px;
}