.carousel-item {
    min-height: 450px;
    background-position: top;
    background-size: cover;
    
 
  }
  .carousel-data {
    display: flex;
    align-items: flex-end;
    height: 100%;
    padding-bottom: 40px;
    opacity: .9;
         & div{
          background-color: #554f4fcf;
          margin: 0 auto;
          text-align: center;
          width: 50%;
          padding: 20px;
         } 
     
        
  }  
